.wrapper {
  background-color: #1324f124;
  min-height: 100px;
  overflow: auto;
  padding: 1px 11px 9px 11px;
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main-headings {
  background-color: #0b0b0b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px !important;
  font-family: "Manrope";
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}
.firsthead {
  background-color: #0b0b0b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px !important;
  font-family: "Manrope";
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 2px;
}
.mainInput {
  margin: 7px 0;
}
.text-updater-node.wrapper {
  border: 1px dashed #1324f1;
}
textarea.ant-input.css-dev-only-do-not-override-1drr2mu.ant-input-outlined {
  font-family: manrope !important;
  color: #1324f1;
  font-size: 10px !important;
  font-weight: 600;
  border: 1px dashed #1324f1;
  resize: none;
  text-align: center;
  background: #1324f11c;
  text-transform: capitalize;
}
.ant-btn {
  background: #1324f1 !important;
  color: white !important;
  font-size: 10px !important;
  text-align: center;
  width: 100% !important;
  font-family: Manrope !important;
}
